{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
Hello {{ controller_name }}!<br/>
<ul>
    <li><a href="/api">API Platform's Swagger UI</a></li>
    <li><a href="/api/monsters.jsonld">API Platform: collection of monsters (GET/JSON-LD)</a></li>
</ul>

<hr>

<a href="https://github.com/dunglas/frankenphp">
    <img width="400" src="{{ url('download_logo') }}" alt="FrankenPHP's logo" title="Download logo using X-Accel-Redirect"/>
</a>
{% endblock %}
